{% extends "base.html" %}

{% load thumbnail %}
{% block title %}
Пост пользователя
{% endblock %}

{% block header %}
<div class="text-center">Пост пользователя {{ author.username }}</div>
{% endblock %}

{% block content %}

<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        {% include 'include/card_user.html' %}
                </div>
                <div class="col-md-9">
                        {% include 'include/post_item.html' with post=post %}
                        {% include 'include/comments.html' with comments=post.comments.all %}
                </div>
        </div>
        </div>
</main>

{% endblock %}