{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  {% load static %}
            <img src="{% static 'image/1.jpg' %}">
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p align="justify" style="text-indent: 25px;">Этот замечательный сайт, первая работа  одного юного подавана, на нелегком пути программиста. Зовут его Александр, ему к-хм лет. После того как на его 
              лице начали исчезать прыщи, он подумал, что неплохо бы получить профессию, высшее образование. Но так как по мере исчезновения прыщей, вместе с ними уходили 
              и остатки разума, было решено заниматься по жизни чем-то полезным и высоким. Поэтому выбор пал на простого <s>советского</s> российского инженера в области 
              авиации (выше только космос, но там кислорода мало).</p>
            <p align="justify" style="text-indent: 25px;">После энного количества лет обучения (9 лет!), перед юным подаваном открылись все двери. По крайней мере он так думал. Мир думал по другому. Оказалось, что 
              нынче инженеры не особо в почете, а вся авиационная промышленность уже давно стала политикой и на самом деле самолеты уже никого не интересуют, кроме 
              единомышленников нашего юного друга. Проработав около 4 лет в этой профессии он понял, что ему очень нравится чем он занимается и это у него не плохо 
              получается, но его работа на самом деле никому не интересна и не нужна. 
              И вот одним прекрасным вечером, он как обычно расслаблялся лежа на диване после тяжелого трудового дня, как вдруг, в его мозгу появился он. 
              Знакомьтесь, Крот! Некоторые могут ошибочно спутать его с не менее известным персонажем из одного некогда популярного чешского мультсериала. Наш, подающий 
              надежды инженер, действительно имеет некоторое сходство с этим персонажем, но это всего лишь догадки наивного читателя этой статьи. В отличии от мультперсонажа,
               наш подаван, отличается умом и сообразительностью. Ему очень нравится копаться во всякой рода технической литературе, узнавать как это работает и нести эти
                знания в мир.</p> 
            <p align="justify" style="text-indent: 25px;">И вот, уже на протяжении нескольких месяцев, днем, как и полагает этому роду из семейства кротовых, он четко выполняет поставленные задачи и трудится на благо
               авиационной мощи нашей необъятной страны. А ближе к ночи, в нем просыпается истинный представитель своего рода. В полумраке небольшой комнатки, он смотрит
                своими полунезрячими глазами в чудо инженерной мысли, и пытается из всякого рода зарубежных символов и непонятных последовательностей освоить новое для него 
                дело. Его настроение меняется ежеминутно: то он парит как птица в лазурном небе над прекрасными просторами, то его опускает в самые низины нашего мира и
                 разбивает о глыбы реальности. Но так как он привык прокладывать сложные системы  и запутанные лабиринты, то с попеременным успехом, он преодолевает эти
                  невзгоды и сложные преграды на его пути. 
              Также, нашему персонажу не чужды и земные развлечения. По мере возможности он ходит на встречи с представителя  своего рода, занимается спортом (рытье сложных 
              систем тоннелей, требует хорошей физической формы).</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 